body {
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;    
}

.topSquare{
    display: flex;    
    padding: 50px;
    flex-direction: column;
    align-items: justify-content;
    background-color: white;   
}

h1 {
    color: hsl(179, 62%, 43%);
}

.topSquare h2 {
    color: hsl(71, 73%, 54%)
}

.topSquare p {
    color: hsl(204, 43%, 93%)
}

.leftBottomSquare {
    display: flex;
    flex-display: row;
    margin-left: 100px;
    background-color: black;   
}


